# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.history/

# IDE related
.idea
.vscode
#output log

/sendEmailLambda/output

# dependencies
/sendEmailLambda/node_modules

# testing
/sendEmailLambda/coverage


# misc
.DS_Store
**/*.local

**/*.log*
